{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 6
        }
      }
    ],
    "stage-1",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-async-to-generator",
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "[name]_[local]_[hash:base64:5]",
        "webpackHotModuleReloading": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "development": {
      "plugins": [
      ]
    },
    "production": {
      "comments": false,
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "lodash",
        "transform-remove-console"
      ]
    }
  }
}
