{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 6
        }
      }
    ],
    "stage-1",
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-loadable/babel",
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-async-to-generator"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "server_development": {
      "plugins": [
        "dynamic-import-node",
        [
          "react-css-modules",
          {
            "filetypes": {
              ".scss": {
                "syntax": "postcss-scss"
              }
            },
            "generateScopedName": "[name]_[local]_[hash:base64:5]",
            "webpackHotModuleReloading": true,
            "removeImport": true
          }
        ]
      ]
    },
    "client_development": {
      "plugins": [
        [
          "react-css-modules",
          {
            "filetypes": {
              ".scss": {
                "syntax": "postcss-scss"
              }
            },
            "generateScopedName": "[name]_[local]_[hash:base64:5]",
            "webpackHotModuleReloading": true
          }
        ]
      ]
    },
    "server_production": {
      "comments": false,
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "lodash",
        "transform-remove-console",
        "dynamic-import-node",
        [
          "react-css-modules",
          {
            "filetypes": {
              ".scss": {
                "syntax": "postcss-scss"
              }
            },
            "generateScopedName": "[name]_[local]_[hash:base64:5]",
            "webpackHotModuleReloading": true,
            "removeImport": true
          }
        ]
      ]
    },
    "client_production": {
      "comments": false,
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "lodash",
        "transform-remove-console",
        [
          "react-css-modules",
          {
            "filetypes": {
              ".scss": {
                "syntax": "postcss-scss"
              }
            },
            "generateScopedName": "[name]_[local]_[hash:base64:5]",
            "webpackHotModuleReloading": true
          }
        ]
      ]
    }
  }
}
