/*
  all hover is original color + 30% black, except white
  all disable is original color + 30% white
*/

$purple: #663366;
$purple-disable: #937093;
$purple-hover: #472347;
$purple-80: #845B84;
$purple-50: #b299b2;
$purple-20: #e0d6e0;
$purple-10: #efeaef;
$purple-8: #f3eff3;
$purple-2: #fcfbfc;

$bright-yellow: #ffcc66;
$bright-yellow-disable: #ffdb93;
$bright-yellow-hover: #b28e47;
$bright-yellow-50: #ffe5b2;
$bright-yellow-10: #fff9ef;

$sky-blue: #0099cc;
$sky-blue-disable: #4cb7db;
$sky-blue-hover: #006b8e;
$sky-blue-50: #7fcce5;
$sky-blue-20: #cceaf4;
$sky-blue-10: #e5f4f9;

$black: #000;
$black-hover: #4c4c4c;
$black-90: #191919;
$black-89: #1c1c1c;
$black-88: #1e1e1e;
$black-87: #212121;
$black-86: #232323;
$black-85: #262626;
$black-84: #282828;
$black-83: #2b2b2b;
$black-82: #2d2d2d;
$black-81: #303030;

$black-80: #323232;
$black-79: #353535;
$black-78: #383838;
$black-77: #3a3a3a;
$black-76: #3d3d3d;
$black-75: #3f3f3f;
$black-74: #424242;
$black-73: #444444;
$black-72: #474747;
$black-71: #494949;

$black-70: #4c4c4c;
$black-69: #4f4f4f;
$black-68: #515151;
$black-67: #545454;
$black-66: #565656;
$black-65: #595959;
$black-64: #5b5b5b;
$black-63: #5e5e5e;
$black-62: #606060;
$black-61: #636363;

$black-60: #666666;
$black-59: #686868;
$black-58: #6b6b6b;
$black-57: #6d6d6d;
$black-56: #707070;
$black-55: #727272;
$black-54: #757575;
$black-53: #777777;
$black-52: #7a7a7a;
$black-51: #7c7c7c;

$black-50: #7f7f7f;
$black-49: #828282;
$black-48: #848484;
$black-47: #878787;
$black-46: #898989;
$black-45: #8c8c8c;
$black-44: #8e8e8e;
$black-43: #919191;
$black-42: #939393;
$black-41: #969696;

$black-40: #999999;
$black-39: #9b9b9b;
$black-38: #9e9e9e;
$black-37: #a0a0a0;
$black-36: #a3a3a3;
$black-35: #a5a5a5;
$black-34: #a8a8a8;
$black-33: #aaaaaa;
$black-32: #adadad;
$black-31: #afafaf;

$black-30: #b2b2b2;
$black-29: #b5b5b5;
$black-28: #b7b7b7;
$black-27: #bababa;
$black-26: #bcbcbc;
$black-25: #bfbfbf;
$black-24: #c1c1c1;
$black-23: #c4c4c4;
$black-22: #c6c6c6;
$black-21: #c9c9c9;

$black-20: #cccccc;
$black-19: #cecece;
$black-18: #d1d1d1;
$black-17: #d3d3d3;
$black-16: #d6d6d6;
$black-15: #d8d8d8;
$black-14: #dbdbdb;
$black-13: #dddddd;
$black-12: #e0e0e0;
$black-11: #e2e2e2;

$black-10: #e5e5e5;
$black-9: #e8e8e8;
$black-8: #eaeaea;
$black-7: #ededed;
$black-6: #efefef;
$black-5: #f2f2f2;
$black-4: #f4f4f4;
$black-3: #f7f7f7;
$black-2: #f9f9f9;
$black-1: #fcfcfc;

$white: #fff;
$white-disable: #b8b8b8;
$white-hover: #b2b2b2;

$white-rgba-50: rgba(255, 255, 255, 0.5);

$gray: #626971;
$gray-disable: #91969b;
$gray-hover: #44494f;
$gray-10: #eff0f0;

$emerald-green: #00cc99;
$emerald-green-disable: #4cdbb7;
$emerald-green-hover: #008e6b;
$emerald-green-50: #7fe5cc;
$emerald-green-10: #e5f9f4;

$danger-red: #e94c36;
$danger-red-disable: #ef8172;
$danger-red-hover: #a33525;
$danger-red-50: #f4a59a;
$danger-red-10: #fcedea;

/*
  below are old color in enterprise and registry
  will be replaced by $'color'-'#'
*/

// $black-16: #d6d6d6;
$checkbox-square-black: #d7d7d7;

// $black-67: #545454;
$date-selector-black: #555;

// $black-56: #707070;
$cancel-black: #6f6f6f;

// $purple
$old-purple: #9b56b7;

// $purple-hover
$old-purple-hover: #8e3faf;

// $emerald-green
$old-green: #00bd9c;

// $emerald-green-hover
$old-green-hover: #00a186;

// $purple-8: #f3eff3;
$radio-select-pink: #ebddf1;

// $black-10: #e5e5e5;
$msg-content-notification-border-black: #e6e5e6;

// $danger-red-10
$notification-pink: #fff7f7;

// $danger-red-hover
$old-danger-hover: #c23824;

// $black-14: #dbdbdb;
$normal-button-black: #dadada;

// #$black
$status-content-button-text-black: #3e434a;

// $bright-yellow
$status-reminder: #F2C500;

// $black-34: #a8a8a8;
$status-na-black: #a9a9a9;

// $bright-yellow
$status-warning-yellow: #f59d00;

// $emerald-green-10
$status-content-normal-green: #e5f9f5;

// $emerald-green-10
$status-content-danger-red: #fcedea;

// $bright-yellow-10
$status-content-warning-yellow: #fef5e5;

// $black-3: #f7f7f7;
$status-content-na-black: #f6f6f6;

// $sky-blue
$dropdown-select-blue: #007eff;
$dropdown-select-text-hover-blue: #0071e6;

// $sky-blue-10
$dropdown-select-hover-blue: #ebf5ff;

// $sky-blue-20
$dropdown-select-border-blue: #c2e0ff;
$dropdown-select-bg-hover-blue: #d8eafd;
$form-section-list-finish-bg-blue: #e5f8f5;

// $danger-red
$dropdown-clear-hover-red: #D0021B;

// $black-10: #e5e5e5;
$dropdown-border-black: #e6e6e6;

// $black-25: #bfbfbf;
$dropdown-select-black: #c0c0c0;

// $black-68: #515151;
$loading-spinner-text-black: #505050;

// $danger-red-10
$mobile-connection-input-incorrect-bg-pink: #ffe2e2;

// $emerald-green-disable
$button-disable-green: #0d927b;

// $black-64: #5c5c5c;
$nav-report-dropdown-bg-black: #5D5B5F;

// $black-57: #6e6e6e;
$nav-report-dropdown-bg-hover-black: #6D6B6F;

// $purple-20: #e0d6e0;
$nav-registry-shadow: #E5E0EB;

// $black-47: #878787;
$button-shadow: #888888;

// $black-13: #dddddd;
$state-progress-bar-base-black: #DEDBDF;

// $emerald-green-disable
$button-disable-green: #80DECE;

// $black-10: #e5e5e5;
$form-section-content-box-shadow-black: rgba(201, 201, 201, 0.5);

// $purple-50: #b299b2;
$loader-border-purple: #caa7db;

// $purple
$upload-button-purple: #9A5AB5;

// $black-2
$dashboard-table-block-bg-black: rgba(250, 250, 250, 0.9);

// $danger-red-10
$table-cell-warning-red: #FEEBE9;

// $sky-blue
$footer-button-blue: #337ab7;

// $sky-blue-hover
$footer-button-hover-blue: #014c8c;

// $purple-10
$pink: #f5eef7;

// $black-80: #323232;
$input-select-black: #333;

// $black-4: #f4f4f4;
$input-focus-black: #f5f5f5;

// $black-11: #e2e2e2;
$input-select-value-black: #e3e3e3;

// $black-8: #eaeaea;
$input-radio-disable-black: #ebebeb;

// $black-46: #898989;
$second-lang-black: #8A8A8A;

// $black-58: #6b6b6b;
$close-button-black: #6c6c6c;

// $black-2: #f9f9f9;
$doc-content-bg-black: #fafafa;

// $black-26: #bcbcbc;
$button-active-black: #bdbdbd;

// $black-5: #f2f2f2;
$account-setting-bg-purple: #f2f0f4;

// $black-27: #bababa;
$table-border-hover-black: #bbb;

// $purple-8: #f3eff3;
$default-bg: #f2f0f4;

// $purple-2: #fcfbfc;
$mail-bg: #fdfcfa;
