@charset "UTF-8";

$and-font-path: "avenir-next-demi/fonts" !default;

@font-face {
  font-family: 'Avenir Next Demi';
  src: url("#{$and-font-path}/AvenirNextLTPro-Demi.eot");
  src: url('#{$and-font-path}/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
  url('#{$and-font-path}/AvenirNextLTPro-Demi.woff') format('woff'),
  url('#{$and-font-path}/AvenirNextLTPro-Demi.otf') format('opentype'),
  url('#{$and-font-path}/AvenirNextLTPro-Demi.ttf') format('truetype'),
  url('#{$and-font-path}/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}
