@charset "UTF-8";

$an-font-path: "avenir-next/fonts";

@font-face {
  font-family: 'Avenir Next';
  src: url("#{$an-font-path}/AvenirNextLTPro-Regular.eot");
  src: url('#{$an-font-path}/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$an-font-path}/AvenirNextLTPro-Regular.otf') format('opentype'),
  url('#{$an-font-path}/AvenirNextLTPro-Regular.woff') format('woff'),
  url('#{$an-font-path}/AvenirNextLTPro-Regular.ttf') format('truetype'),
  url('#{$an-font-path}/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
