@charset "UTF-8";

$anm-font-path: "avenir-next-medium/fonts" !default;

@font-face {
  font-family: 'Avenir Next Medium';
  src: url("#{$anm-font-path}/AvenirNextLTPro-Medium.eot");
  src: url('#{$anm-font-path}/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$anm-font-path}/AvenirNextLTPro-Medium.woff') format('woff'),
  url('#{$anm-font-path}/AvenirNextLTPro-Medium.otf') format('opentype'),
  url('#{$anm-font-path}/AvenirNextLTPro-Medium.ttf') format('truetype'),
  url('#{$anm-font-path}/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
